name: Test build all templates

on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build:
    name: python
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "latest"
      - name: Install project and dependencies
        run: uv sync --python ${{ matrix.python-version }}
      - name: Run template test
        run: uv run --with copier jinja2-time test_template.sh
