name: Test build all templates

on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build:
    name: python
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "latest"
      - name: Install copier
        run: pipx install copier && pipx inject copier jinja2-time
      - name: Run template test
        run: bash ./test-templates.sh
